<!-- Footer -->
<footer class="footer text-center">

  <!-- Copyright -->
  <div class="container-fluid">
    <p class="small">
      <strong>Escuela Superior Politecnica del Litoral - Campus Guatavo Galindo - Guayaquil - Ecuador - {{ anio }} </strong><br />
      &copy; El contenido de esta obra es de propiedad de la ESPOL. Todos los derechos reservados. Prohibida su reproducci&oacute;n total o parcial,<br />
      comunicaci&oacute;n p&uacute;blica o distribuci&oacute;n sin autorizaci&oacute;n del titular de los derechos
    </p>

  </div>

</footer>
<!-- Footer -->
