<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-10 content">
      <div class="title borde-title">
        Contratos
      </div>
      <div class="content-section">
        <div class="lds-rollser" *ngIf="showLoadingIndicator">
          <div>
            <div class="table">
              <div class="table-responsive">
                <span class="table-add float-right mb-0 mr-0">
                  <a class="text-warning"  [routerLink]="['/registrar-contrato']">
                    <i class="fa fa-fw fa-plus fa-2x" aria-hidden="true"></i>
                  </a>
                </span>
                <span class="table-add float-left mb-0 mr-0">
                  <mat-form-field class="search">
                    <input [formControl]="filtro" matInput placeholder="Buscar Contrato...." spellcheck="false" autocomplete="off">
                  </mat-form-field>
                </span>
                <table class="table table-striped-sm table-hover">
                  <thead>
                    <tr>
                      <th scope="col">C&oacute;digo</th>
                      <th scope="col">Obj. Contrataci&oacute;n</th>
                      <th scope="col">Proveedor</th>
                      <th scope="col">Valor adjudicado</th>
                      <th scope="col">Fech. Inicio</th>
                      <th scope="col">Fech. Fin</th>
                      <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contrato of contratos | paginate: { itemsPerPage: 4, currentPage: paginaActual}" (click)="mostrarDetalle(contrato.id)">
                      <td>{{contrato.txt_codigoContrato}}</td>
                      <td>{{contrato.txt_objetoContratacion}}</td>
                      <td>{{contrato.qn_proveedor}}</td>
                      <td>{{contrato.vm_montoAdjudicado}}</td>
                      <td>{{contrato.dt_fechaInicio | date: 'dd-MM-yyyy'}}</td>
                      <td>{{contrato.dt_fechaFin | date: 'dd-MM-yyyy'}}</td>
                      <td class="estado">Activo</td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="paginaActual = $event" *ngIf="contratos?.length>4"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>  
</div>
