<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-10 content">
      <div class="title borde-title">
        <a [routerLink]="['/contratos']"> Contratos </a> / garantias
      </div>
      <div class="content-section">
        <div class="table">
          <div class="table-responsive">
            <span class="table-add float-right mb-0 mr-0">
              <a class="text-warning" (click)="openFormModal()">
              <i class="fa fa-fw fa-plus fa-2x" aria-hidden="true"></i>
              </a>
            </span>
            <p *ngIf="!garantias && garantias?.length <= 0">
              No Existen Datos que Mostrar
            </p>
            <div *ngIf="garantias && garantias?.length > 0">
              <table class="table table-striped-sm table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">C&oacute;digo</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Tipo de Garantia</th>
                    <th scope="col">Valor en Garantia</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let garantia of garantias | paginate: { itemsPerPage: 4, currentPage: paginaActual} ">
                    <td>{{garantia.txt_codigoGarantia}}</td>
                    <td>{{garantia.qn_tipoGarantia}}</td>
                    <td>{{garantia.txt_proveedorGarantia}}</td>
                    <td>{{garantia.vm_valorGarantia}}</td>
                    <td>{{garantia.dt_inicioGarantia | date: 'dd-MM-yyyy'}}</td>
                    <td>{{garantia.dt_finGarantia | date: 'dd-MM-yyyy'}}</td>
                    <td><a><i class="fa fa-refresh" aria-hidden="true"></i></a></td>
                    <td><a><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="paginaActual = $event" *ngIf="garantias.length>4"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


