<div class="modal-header">
  <h4 class="modal-title">Nueva Solicitud de Transferencia</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">      
        <p>
          Ud. a elegido <strong>{{ cantContratos }}</strong> contratos para transferir
        </p>      
      <mat-form-field>
        <mat-label>¿Motivo de la Transferencia?</mat-label>
        <textarea matInput
                  formControlName="txt_motivoTransferencia"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="txt_admRecomendado" matInput placeholder="Trasferir a" spellcheck="false" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="txt_destinatario" matInput placeholder="Dirigido para" spellcheck="false" autocomplete="off">
      </mat-form-field>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!formGroup.valid">Aceptar</button>
  </div>
</form>
<div class="modal-footer">
  <button (click)="activeModal.dismiss('Close clicked')">Cancelar</button>
</div>

