<div class="modal-header">
  <h4 class="modal-title">Nuevo Entregable</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group row">
        <label for="qn_tipoEntregable" class="col-sm-4 col-form-label">Tipo de Entregable</label>
        <div class="col-sm-8">
          <select class="form-control" id="qn_tipoEntregable" formControlName="qn_tipoEntregable">
            <option selected disabled>Seleccione</option>
            <option *ngFor="let tipo of tiposEntregable" [ngValue]="qn_tipoEntregable" value="{{tipo.tipoID}}">{{tipo.txt_nombreTipo}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="qn_cantidadEntregable" class="col-sm-4 col-form-label">Cantidad</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input type="number" class="form-control" formControlName="qn_cantidadEntregable" id="qn_cantidadEntregable" name="qn_cantidadEntregable">
            <div class="input-group-append">
              <span class="input-group-text">Unds</span>
            </div>
          </div>
          
        </div>
      </div>
      <div class="form-group row">
        <label for="dt_fechaEntregable" class="col-sm-4 col-form-label">Fecha Entregable</label>
        <div class="col-sm-8">
          <input class="form-control" type="date" formControlName="dt_fechaEntregable" id="dt_fechaEntregable" name="dt_fechaEntregable">
        </div>
      </div>
      <div class="form-group row">
        <label for="txt_descripcionEntregable" class="col-sm-4 col-form-label">Descripci&oacute;n</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="txt_descripcionEntregable" formControlName="txt_descripcionEntregable" name="txt_descripcionEntregable" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="txt_archivoEntregable" class="col-sm-4 col-form-label">Subir Archivo</label>
        <div class="col-sm-8">
          <input #file type="file" class="form-control-file" formControlName="txt_archivoEntregable" multiple (change)="upload(file.files)" accept=".pdf" id="txt_archivoEntregable" name="txt_archivoEntregable" />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" >Guardar</button>
  </div>
</form>
<div class="modal-footer">
  <button (click)="activeModal.dismiss('Close clicked')">Cancelar</button>
</div>
