@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@media(min-width:768px) {
    .side-nav {
        

        left: 225px;
        width: 225px; 
        margin-left: -20px;
        
        border-radius: 2px;
        overflow-y: auto;
        background-color: #fff;
        
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 10px;
    }

    .side-nav>li {
        width: 180px;
        border-bottom: 2px rgba(0,0,0,.3) solid;
    }

    .side-nav>li>ul>li{
        width: 180px;
        border-bottom: 2px rgba(0,0,0,.3) solid; 
    }

    .side-nav>li>ul>li>a:hover,
    .side-nav>li>ul>li>a:focus {
        outline: none;
        background-color: #1e3468 !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1e3468 !important;
        color: #f2f2f2;   
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 3px 1px 3px 28px;
    text-decoration: none;
    
    color: #1e3468;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}
