@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #1e3467;
}

a#estrella {
  color: #1e3467;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
  box-shadow: 0px 3px #1e3467;
}